<div ng-controller="HomeCtrl">
	<div class="jumbotron">
		<h1 ng-bind="projectName"></h1>
		<h2 byte-count="Example HyperAngular Project">Delicious Bytes</h2>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h3>Read</h3>

			<p>The readme tells you what's here already.</p>
		</div>

		<div class="col-sm-4">
			<h3>Play</h3>

			<p>Start coding! You know what to do.</p>
		</div>

		<div class="col-sm-4">
			<h3>Thanks</h3>

			<a href="https://github.com/jprystowsky/generator-hyper-angular">Let me know</a> if this was helpful.
		</div>
	</div>
</div>