doctype html
html(ng-app="example-hyper-angular-project", prefix="og: http://ogp.me/ns#")
	head
		include components/stylesheets
		include components/meta

		base(href='/')

		title Example HyperAngular Project

	body
		div(header)

		div.mainContent
			div.container
				block body

		div(footer)